.qudao {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;

  p {
    margin: 0;
    padding: 0;
  }

  // 价格 / 金币
  .qudaoTop {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    line-height: 55px;
    border-radius: 20px 20px 0px 0px;

    p:nth-child(1) {
      width: 150px;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
      font-size: 18px;
      font-family: Arial;
      font-weight: 600;
      color: #222222;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行

      img {
        width: (32px/2);
        height: (32px/2);
        vertical-align: middle;
      }
    }

    p:nth-child(2) {
      width: 110px;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
      text-align: right;
      font-size: 18px;
      font-family: Arial;
      font-weight: 600;
      color: #222222;
      margin-left: 15px;
    }
  }

  // 间隔
  .qudaoJiange {
    width: (670px/2);
    height: 5px;
    background: #f5f4fa;
    margin: 0 auto;
  }

  .payList-div1 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    position: relative;

    .payList-div1-p {
      margin-left: 19.5px;
      font-size: 15px;
      font-family: Arial;
      font-weight: 400;
      color: #999db9;
      line-height: 60px;
    }

    .tops {
      width: auto;
      height: 33px;
      margin-top: 11px;
      margin-left: 10px;
      background: #f5f4fa;
      border: 1px solid #e3e0ef;
      border-radius: 10px;
      line-height: 33px;
      position: relative;
      padding: 0 5px;
      max-width: 160px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      /*超出部分用...代替*/

      span {
        min-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 4px;
        /*超出部分用...代替*/
      }

      img {
        width: (30px/2);
        height: (30px/2);
        margin: 0 2px;
        border-radius: 50%;
        vertical-align: text-top;
      }

      .img {
        width: 10px;
        height: 10px;
        vertical-align: inherit;
        margin-left: 4px;
      }
    }
  }

  .payList {
    width: (714px/2);
    height: 400px;
    margin: 0 auto;
    overflow-y: auto;

    // position: absolute;
    // left: 50%;
    // top: 56px;
    // transform: translateX(-50%);
    .bottom {
      width: (280px/2);
      height: (325px/2);
      // height: 0;
      background: #f5f4fa;
      border: 1px solid #e3e0ef;
      border-radius: (20px/2);
      position: absolute;
      right: 30px;
      top: 48px;
      box-shadow: 0px 5px 9px 1px rgba(116, 2, 243, 0.1);
      overflow-y: auto;

      .bottomDiv-bottom:nth-child(1) {
        margin-top: 17px;
      }

      .bottomDiv-bottom:nth-last-child(1) {
        margin-bottom: 17px;
      }

      .bottomDiv-bottom {
        width: (233px/2);
        height: auto;
        margin: 19px auto 0;
        display: flex;
        justify-content: space-between;
        // line-height: a;
        -webkit-overflow-scrolling: touch;
        // z-index: 1;

        img {
          width: (30px/2);
          height: (30px/2);
          margin: 0 2px;
          border-radius: 50%;
          vertical-align: text-top;
        }

        .disImg {
          width: (30px/2);
          height: (30px/2);
          border-radius: 50%;
        }

        .distitle {
          width: 80px;
          height: auto;
          display: block;
          // overflow: hidden; //超出的文本隐藏
          // text-overflow: ellipsis; //溢出用省略号显示
          // white-space: nowrap; //溢出不换行
          margin-left: 5px;
          word-break: break-all;
        }
      }
    }

    .van-loading {
      margin-top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    .payList-div:nth-child(1) {
      margin: 0 auto;
    }

    .payList-div {
      width: (670px/2);
      // min-height: 60px;
      display: flex;
      padding: 12px 8px 12px 10px;
      background: #f5f4fa;
      border: 0.5px solid #e3e0ef;
      border-radius: 10px;
      overflow: hidden;
      margin: 5px auto;

      .van-loading {
        margin-top: 50%;
        transform: translateY(-50%);
        text-align: center;
      }

      p:nth-child(1) {
        width: 95px;
        height: 35px;
        background: #f5f4fa;
        border-radius: 10px;
        margin: auto;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

      .payList-divP {
        width: (280px/2);
        font-size: 12px;
        font-family: Arial;
        font-weight: 400;
        color: #222222;
        // overflow: hidden; //超出的文本隐藏
        // text-overflow: ellipsis; //溢出用省略号显示
        // white-space: nowrap; //溢出不换行
        margin: auto 25px;
        word-break: break-all;
      }

      .payList-div-P {
        width: (470px/2);
        font-size: 12px;
        font-family: Arial;
        font-weight: 400;
        color: #222222;
        margin: auto 25px;
        word-break: break-all;
      }

      p:nth-child(3) {
        width: 100px;
        font-size: 15px;
        font-family: Arial;
        font-weight: 400;
        color: #222222;
        margin: auto 0;

        img {
          width: (32px/2);
          height: (32px/2);
          vertical-align: middle;
        }
      }

      p:nth-child(4) {
        width: (35px/2);
        height: (35px/2);
        margin: auto 10px;

        img {
          width: (35px/2);
          height: (35px/2);
          vertical-align: middle;
        }
      }
    }

    .payList-div:nth-last-child(1) {
      margin-bottom: 170px;
    }
  }

  .jianbian {
    width: 100%;
    height: 60px;
    background: #fff;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 16px 12px #fff;
  }
}

#Diamondrechargebox {
  width: 100%;
  height: 100%;
  background: rgba($color: #000, $alpha: 0.6);
  position: relative;
  overflow: hidden;

  .bottomDiv {
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, #37FCEB 0%, #1B5CF4 100%);
    position: absolute;
    bottom: 0;
    border-radius: 25px 25px 0 0;

    .bottomDiv_div {
      width: 100%;
      height: auto;

      .bottomDiv_div_p {
        img {
          width: 23px;
          height: 23px;
        }

        font-size: 30px;
        font-family: 'Arial-Bold,Arial';
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        margin-top: 25px;
      }

      .bottomDiv_div_p2 {
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-family: Arial-Regular, Arial;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 5px;
      }


    }

    .bottomDiv_banner {
      width: 100%;
      height: 100px;

      .van-swipe {
        font-size: 20px;
        text-align: center;
        height: 100px;
        width: 100%;

        .van-swipe-item {
          height: 100px !important;
          width: 100%;

          .van_swipe_item_div {
            width: 51%;
            display: flex;
            justify-content: flex-start;
            text-align: center;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 20px;

            img {
              width: 35px;
              height: 35px;
            }

            div {
              width: 100%;
              text-align: left;
              color: #fff;
              margin-left: 10px;
            }
          }
        }

        /deep/.van-swipe__indicator--active {
          width: 30px;
          height: 3px;
          border-radius: 25px;
          background: #fff;
        }

        /deep/.van-swipe__indicator {
          width: 15px;
          height: 4px;
          border-radius: 25px;
          background: rgba(255,255,255, 0.302);
        }
      }
    }

    .bottomDiv_commodity {
      height: calc(100% - 180px);
      overflow: auto;

      .bottomDiv_commodity_div {
        width: 328px;
        height: 75px;
        background: #0E061E;
        border-radius: 20px 20px 20px 20px;
        margin: 10px auto 0;
        display: flex;
        justify-content: space-between;
        padding: 0 14px;

        .bottomDiv_commodity_div_div {
          display: flex;
          justify-content: space-between;

          .bottomDiv_commodity_div_div_img {
            width: 47px;
            height: 47px;
            margin: 14px 12px 0 0;
          }

          .bottomDiv_commodity_div_div_copywriting {
            margin: 13px 0 0 0;
            color: #FFFFFF;

            p:nth-child(1) {
              font-size: 12px;
              font-family: Arial-Regular, Arial;
              font-weight: 400;

            }

            p:nth-child(2) {
              margin-top: 6px;
              font-size: 25px;
              font-family: Arial-Regular, Arial;
              font-weight: 400;
              color: #FFFFFF;

              img {
                width: 25px;
                height: 25px;
                vertical-align: middle;
              }
            }
          }
        }

        .bottomDiv_commodity_div_button {
          width: 100px;
          height: 33px;
          font-size: 14px;
          font-family: Arial-Bold Italic, Arial;
          font-weight: 700;
          color: #FFFFFF;
          font-style: italic;
          border-radius: 25px 25px 25px 25px;
          margin: 21px 0;
          text-align: center;
          line-height: 33px;
        }
      }

      .bottomDiv_commodity_div:nth-last-child(1) {
        margin-bottom: 20px;
      }
    }















    .bottomDivBottomTop {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: flex-start;
      border-radius: 25px 25px 0 0;

      p {
        width: auto;
        height: 21px;
        font-size: 14px;
        font-family: "PingFang SC";
        color: #fff;
        margin: 21px 0 0 16px;
      }

      img {
        width: 14px;
        height: 14px;
        margin: 25px 0 0 5px;
      }


    }

    .bottomDivBottomBottom {
      width: 100%;
      height: calc(100% - 60px);
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      padding-top: 22px;
      padding-left: 5px;
      overflow: auto;

      .walletCommodity-div1 {
        width: 109px;
        height: 150px;
        background: #fff;
        border-radius: 15px;
        position: relative;
        margin: 0 0 8px 10px;
        text-align: center;

        .walletCommodity-img1 {
          width: (192px/2);
          height: (192px/2);
          animation: load 6s linear infinite;
        }

        .walletCommodity-img2 {
          width: 63px;
          height: 40px;
          margin: 21px 0 0 0;
        }

        @keyframes load {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }

        .walletCommodity-p1 {
          font-size: 20px;
          font-family: Arial-Bold, Arial;
          font-weight: 700;
          color: #222222;
          line-height: 23px;
        }

        .walletCommodity-p2 {
          width: 103px;
          height: 32px;
          font-size: 12px;
          font-family: Arial-Regular, Arial;
          font-weight: 700;
          color: #fff;
          line-height: 32px;
          background: #A25EFC;
          border-radius: 0px 0px 12px 12px;
          position: absolute;
          bottom: 3px;
          left: 50%;
          transform: translateX(-50%);
        }

        .walletCommodity-p3 {
          width: 100%;
          height: 12px;
          font-size: 12px;
          font-family: Arial-Regular, Arial;
          color: #999DB9;
          text-align: center;
          text-decoration: line-through; // 删除线
          margin-top: 3px;
        }


        .walletCommodity-img0 {
          width: 32px;
          height: 16px;
          position: absolute;
          top: 5px;
          right: 5px;
          border-radius: 25px 25px 25px 25px;

        }
      }
    }

  }

  .bottomDivAR {
    width: 100%;
    height: (900px/2);
    background: #fff;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;

    .bottomDivTop {
      width: 100%;
      height: 70px;
      position: relative;
      border-radius: 20px 20px 0 0;

      img:nth-child(1) {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        position: absolute;
      }

      img:nth-child(2) {
        width: 30.5px;
        height: 30.5px;
        position: absolute;
        left: 20px;
        top: 16px;
      }
    }

    .bottomDivBottom {
      width: 100%;
      height: calc(450px - 70px);
      background: #ffffff;

      .bottomDivBottomTop {
        width: 100%;
        height: 60px;
        background: #ffffff;
        display: flex;
        justify-content: flex-end;

        .p1 {
          font-size: (36px/2);
          font-family: " PingFang SC";
          font-weight: bold;
          color: #222222;
          line-height: 60px;
          margin-right: 20.5px;
          color: #ffd143;

          .imgp {
            width: (32px/2);
            height: (32px/2);
            vertical-align: unset;
          }
        }

        .p2 {
          font-size: 20px;
          font-family: "PingFang SC";
          line-height: 60px;
          margin-right: 10px;
        }

        .guanbi {
          width: 30.5px;
          height: 30.5px;
          margin-top: 10px;
          margin-right: 150px;
        }
      }

      .bottomDivBottomBottom {
        height: calc(390px - 60px);
        overflow: auto;

        .list {
          width: (670px/2);
          height: (130px/2);
          background: #f5f4fa;
          border-radius: 15px;
          display: flex;
          justify-content: space-around;
          margin: 10px auto 0;
          border: solid 1px #f5f4fa;

          p:nth-child(2) {
            img {
              width: 22px;
              height: 22px;
              vertical-align: middle;
              margin-right: 11px;
            }

            width: (300px/2);
            font-size: 20px;
            font-family: " PingFang SC";
            font-weight: bold;
            color: #222222;
            line-height: 60px;
          }

          p:nth-child(1) {
            width: (250px/2);
            font-size: 20px;
            font-family: "PingFang SC";
            font-weight: 500;
            color: #999db9;
            line-height: 60px;
          }
        }

        .list:nth-last-child(1) {
          margin: 10px auto 30px;
        }

        .list:nth-child(1) {
          margin: 0 auto;
        }

        .listsd {
          width: (670px/2);
          height: (130px/2);
          background: #f5f4fa;
          border-radius: 15px;
          display: flex;
          justify-content: space-around;
          margin: 10px auto 0;
          border: solid 1px red;

          p:nth-child(2) {
            img {
              width: 22px;
              height: 22px;
              vertical-align: middle;
              margin-right: 11px;
            }

            width: (260px/2);
            font-size: 20px;
            font-family: " PingFang SC";
            font-weight: bold;
            color: #222222;
            line-height: 60px;
          }

          p:nth-child(1) {
            width: (170px/2);
            font-size: 20px;
            font-family: "PingFang SC";
            font-weight: 500;
            color: #999db9;
            line-height: 60px;
          }
        }

        .listsd:nth-last-child(1) {
          margin: 10px auto 30px;
        }

        .listsd:nth-child(1) {
          margin: 0 auto;
        }
      }
    }
  }

  // .zhezhaos {
  //   width: 100%;
  //   height: 38%;
  //   position: absolute;
  //   top: 0;
  // }
}