.editText{
    color: rgb(221, 6, 6);
}

.editTexts{
    color: rgb(6, 175, 253);
}

.goddessTexts{
    color: #C0C4CC;
}

.goddessText{
    color: rgb(221, 6, 6);
}
.popupanchor{
    color: rgb(221, 6, 6);
}
.popupanchord{
    color: rgb(6, 175, 253);
}