#blacklist {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    /deep/.van-pull-refresh {
        width: 100%;
        height: 100%;
    }

    .pullRefresh {
        overflow-y: auto;

    }

    .left {
        height: 100%;
        overflow-y: auto;

        .blacklistdiv {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: flex-start;
            overflow-x: hidden;
            border-top: solid 0.5px rgba(255, 255, 255, 0.1);
            padding-top: 10px;

            .blacklistdiv-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 16px 0 (40px/2);

                .van-image {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;

                    /deep/.van-icon__image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            div {
                width: 200px;
                overflow-x: hidden;

                p:nth-child(2) {
                    color: #999DB9;
                    font-size: 11px;
                    display: flex;

                    .van-image {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        vertical-align: sub;
                        overflow: hidden;
                    }

                    span {
                        font-size: 12px;
                        font-weight: 500;
                        color: #999DB9;
                        margin-left: 5.5px;
                    }
                }

                p:nth-child(1) {
                    overflow: hidden; //超出的文本隐藏
                    text-overflow: ellipsis; //溢出用省略号显示
                    white-space: nowrap; //溢出不换行
                    line-height: 50px;

                    .blacklistdiv-s {
                        width: 255px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #222;
                    }


                }
            }

            .blacklistdiv-button {
                width: 75px;
                height: 30px;
                background: #222;
                border-radius: 25px 25px 25px 25px;
                line-height: 29px;
                text-align: center;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                margin-top: 10px;
                position: relative;

                .main_in {
                    width: 72.5px;
                    height: 28px;
                    border-radius: 8px;
                    color: #fff;
                    border-radius: 25px 25px 25px 25px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: #222;
                }
            }

        }
    }

    .right {
        height: 100%;
        overflow-y: auto;

        .blacklistdiv {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: flex-end;
            overflow-x: hidden;
            border-top: solid 0.5px rgba(255, 255, 255, 0.1);
            padding-top: 10px;


            .blacklistdiv-button {
                width: 75px;
                height: 30px;
                background: #222222;
                border-radius: 25px 25px 25px 25px;
                line-height: 29px;
                text-align: center;
                font-size: 12px;
                font-family: Arial-Bold, Arial;
                font-weight: 700;
                color: #fff;
                margin-top: 10px;
                position: relative;

                .main_in {
                    width: 72.5px;
                    height: 28px;
                    border-radius: 8px;
                    color: #fff;
                    border-radius: 25px 25px 25px 25px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }



            .blacklistdiv-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 18px 0 0;

                .van-image {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;

                    /deep/.van-icon__image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            div {
                width: 225px;
                overflow-x: hidden;

                p:nth-child(2) {
                    color: #999DB9;
                    font-size: 11px;
                    display: flex;
                    justify-content: flex-end;

                    .van-image {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        vertical-align: sub;
                        overflow: hidden;
                    }

                    span {
                        font-size: 12px;
                        font-weight: 500;
                        color: #999DB9;
                        margin-right: 5.5px;
                    }
                }

                p:nth-child(1) {
                    overflow: hidden; //超出的文本隐藏
                    text-overflow: ellipsis; //溢出用省略号显示
                    white-space: nowrap; //溢出不换行
                    flex-direction: row-reverse; // 反向排序
                    text-align: right;
                    margin-left: 5px;
                    margin-right: 5px;
                    line-height: 50px;

                    .blacklistdiv-s {
                        width: 255px;
                        font-size: 14px;
                        font-weight: bold; 
                        color: #222;
                        text-align: right;

                    }


                }
            }
        }
    }

    .quest {
        width: 90px;
        height: 90px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 100%;
            height: 100%;
        }

        p {
            width: 100%;
            text-align: center;
            font-size: (28px/2);
            font-weight: bold;
            color: #222222;
        }
    }
}