<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>squareDetails</title>
    <link rel="stylesheet" type="text/css" href="./css/public.css">
    <link rel="stylesheet" type="text/css" href="./css/squareDetails/squareDetails.css">
    <!-- vue -->
    <script src="./js/vue2.js"></script>
    <script src="./js/enclosure.js"></script>
    <script src="./js/api.js"></script>
     <!-- dsbridge-->
     <script src="./js/dsbridge.js"></script>
    
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);   
    </script>
</head>

<body>

    <div id="app">
        <div class="app_img"><img :src="detailspresent.photo" alt=""></div>
        <div class="app_text">{{ detailspresent.title}}</div>
        <div class="app_sculpture">
            <div class="app_sculpture_img">
                <img :src="detailspresent.face" alt="" />
            </div>
            <div class="app_sculpture_name">{{ detailspresent.name}}</div>
        </div>
        <div class="app_copywriting" v-if="targetId == '657bf2efe4b0ac8a2deb9a5c'">
            <p>Both Myers and Briggs were fascinated by Jung's theory of psychological types and recognized that the
                theory could have real-world applications. During World War II, they began researching and developing an
                indicator that could be utilized to help understand individual differences.</p>
            <p>Myers created the first pen-and-pencil version of the inventory during the 1940s, and the two women began
                testing the assessment on friends and family. They continued to fully develop the instrument over the
                next two decades.</p>
            <p>Yang C, Richard G, Durkin M. The association between Myers-Briggs Type Indicator and Psychiatry as the
                specialty choice</p>
            <h4>An Overview of the Test</h4>
            <p>Based on the answers to the questions on the inventory, people are identified as having one of 16
                personality types. The goal of the MBTI is to allow respondents to further explore and understand their
                own personalities including their likes, dislikes, strengths, weaknesses, possible career preferences,
                and compatibility with other people.</p>
            <p>No one personality type is "best" or "better" than another. It isn't a tool designed to look for
                dysfunction or abnormality. Instead, its goal is simply to help you learn more about yourself. The
                questionnaire itself is made up of four different scales.</p>
            <h4>Extraversion (E) – Introversion (I)</h4>
            <p>The extraversion-introversion dichotomy was first explored by Jung in his theory of personality types as
                a way to describe how people respond and interact with the world around them. While these terms are
                familiar to most people, the way in which they are used in the MBTI differs somewhat from their popular
                usage.</p>
            <p>Extraverts (also often spelled extroverts) are "outward-turning" and tend to be action-oriented, enjoy
                more frequent social interaction, and feel energized after spending time with other people. Introverts
                are "inward-turning" and tend to be thought-oriented, enjoy deep and meaningful social interactions, and
                feel recharged after spending time alone.</p>
            <p>We all exhibit extraversion and introversion to some degree, but most of us tend to have an overall
                preference for one or the other.</p>
            <h4>Sensing (S) – Intuition (N)</h4>
            <p>This scale involves looking at how people gather information from the world around them. Just like with
                extraversion and introversion, all people spend some time sensing and intuiting depending on the
                situation. According to the MBTI, people tend to be dominant in one area or the other.</p>
            <p>People who prefer sensing tend to pay a great deal of attention to reality, particularly to what they can
                learn from their own senses. They tend to focus on facts and details and enjoy getting hands-on
                experience. Those who prefer intuition pay more attention to things like patterns and impressions. They
                enjoy thinking about possibilities, imagining the future, and abstract theories.</p>
            <h4>Thinking (T) – Feeling (F)</h4>
            <p>This scale focuses on how people make decisions based on the information that they gather from their
                sensing or intuition functions. People who prefer thinking place a greater emphasis on facts and
                objective data.</p>
            <p>They tend to be consistent, logical, and impersonal when weighing a decision. Those who prefer feeling
                are more likely to consider people and emotions when arriving at a conclusion.</p>
            <h4>Judging (J) – Perceiving (P)</h4>
            <p>The final scale involves how people tend to deal with the outside world. Those who lean toward judging
                prefer structure and firm decisions. People who lean toward perceiving are more open, flexible, and
                adaptable. These two tendencies interact with the other scales.</p>
            <p>Remember, all people at least spend some time engaged in extroverted activities. The judging-perceiving
                scale helps describe whether you behave like an extravert when you are taking in new information
                (sensing and intuiting) or when you are making decisions (thinking and feeling).</p>
            <h4>The Myers Briggs Types</h4>
            <p>Each type is then listed by its four-letter code:</p>
            <p>- ISTJ - The Inspector: Reserved and practical, they tend to be loyal, orderly, and traditional.</p>
            <p>- ISTP - The Crafter: Highly independent, they enjoy new experiences that provide first-hand learning.
            </p>
            <p>- ISFJ - The Protector: Warm-hearted and dedicated, they are always ready to protect the people they care
                about.</p>
            <p>- ISFP - The Artist: Easy-going and flexible, they tend to be reserved and artistic.</p>
            <p>- INFJ - The Advocate: Creative and analytical, they are considered one of the rarest Myers-Briggs
                types.(3)</p>
            <p>- INFP - The Mediator: Idealistic with high values, they strive to make the world a better place.</p>
            <p>- INTJ - The Architect: High logical, they are both very creative and analytical.(4)</p>
            <p>- INTP - The Thinker: Quiet and introverted, they are known for having a rich inner world.</p>
            <p>- ESTP - The Persuader: Out-going and dramatic, they enjoy spending time with others and focusing on the
                here-and-now.</p>
            <p>- ESTJ - The Director: Assertive and rule-oriented, they have high principles and a tendency to take
                charge.</p>
            <p>- ESFP - The Performer: Outgoing and spontaneous, they enjoy taking center stage.</p>
            <p>- ESFJ - The Caregiver: Soft-hearted and outgoing, they tend to believe the best about other people.</p>
            <p>- ENFP - The Champion: Charismatic and energetic, they enjoy situations where they can put their
                creativity to work. </p>
            <p>- ENFJ - The Giver: Loyal and sensitive, they are known for being understanding and generous.</p>
            <p>- ENTP - The Debater: Highly inventive, they love being surrounded by ideas and tend to start many
                projects (but may struggle to finish them).</p>
            <p>- ENTJ - The Commander: Outspoken and confident, they are great at making plans and organizing projects.
            </p>
        </div>

        <div class="app_copywriting" v-else-if="targetId == '657bf2f0e4b02b95333529da'">
            <p>Anything but an Introverted Intuitive (INTP, INTJ, INFP, INFJ) or INxx. Let me reiterate.</p>
            <p>These guys at the top aren't usually just some of the rarest, but the smartest too, with the highest IQs
                on average. You don't need to be an Introverted Intuitive to have a high IQ, but you need a higher than
                average IQ to be an Introverted Intuitive.</p>
            <p>Digressing a bit, your IQ communication range is +/-30.</p>
            <p>70% of the world lands between IQs 85–115</p>
            <p>15% of the world is 115+</p>
            <p>The top 2–3% is around 130+</p>
            <p>The top 0.5% is 145+</p>
            <h4>Drawing back to the topic</h4>
            <p>Having an IQ of 130 means you lie in the superior communication range; 100-160, mainly the Introvert
                Idealists (INFPs & INFJs)</p>
            <p>Most people who are 145+ are your Introverted Rationals (INTP, INTJ) or INTx. Their communication range
                lies between 115-175, meaning they can only converse with 15% of the population. That's awfully low.</p>
            <p>This makes me want out from being an Introverted Rational/INTx. I don't even want a remote chance of
                having such a poor communication range. I've experienced everything first-hand.</p>
            <p>However, this isn't the end for the Introverted Idealists (INFP, INFJ).</p>
            <p>Rather than being discarded for a lack of communication between the norm and an INFx, these guys make
                excellent communicators.</p>
            <p>Unfortunately for these guys; it’s a double-edged sword.</p>
            <p>These kindred spirits are the first listeners, heeding to the request of others. They even mend
                miscommunication gaps and do their best to close the chasms.</p>
            <p>In fact, all the INFx's I know are always so tied up with people-problems, some see the present-future as
                the bleakest. They're also the ones taken for granted; the friends you need when the going gets tough
                but the friends you don't want when it's fair-weather.</p>
            <p>INFJs & INFPs are also not ordinary people; they're your ‘emotional’ nerds that don't have the same
                interests as the norm. They're unconventional, so they're usually no ‘fun.’</p>
            <p>They're rather good friends at convenience, and that’s what makes them tools.</p>
            <p>All INxx's are heavily misunderstood or heavily made use of; they're either the peace-lover or the
                closet-genius hidden at the corner of the class, and when they're brought to light; all they're ever
                good for is being used in the eyes of the norm.</p>
            <p>Fortunately, Introvert Intuitives have each other; the Idealists look to the Rationals in awe and wonder,
                while the Idealists channel the Rational's inner human. They bring out the best in each other;
                understanding the value of cherishing each other as a whole.</p>
            <p>All Introverted Intuitives I know and met, especially mutual friends, have always stood by each other
                through thick and thin. Beauty is a rarity, and they exemplify that.</p>
            <h4>In conclusion</h4>
            <p>I wanted to conclude that I don't want to be an INxx, but after writing the last two paragraphs, I think
                I've changed my mind.</p>
            <p>It’s painful to be these guys, but it's well worth it.</p>
        </div>

        <div class="app_copywriting" v-else-if="targetId == '657bf2f0e4b0ac8a2deb9a65'">
            <p>Swiss psychiatrist Carl Jung popularized the terms<strong> </strong>introvert and extrovert in the 1900s;
                but a century later, his postulations about personality types have become so warped by popular culture
                that the reputations of introverts everywhere are at stake.</p>
            <p>Jung originally sought to understand how people derive and orient their energies. That is to say,
                according to Jung, extroverts draw their energy from those around them while introverts pull it from
                within themselves. He suggested that these personality traits are different — but equally healthy. One
                isn’t better than the other.</p>
            <p>Studies suggest that, in the general population, there’s a nearly 50-50 split between introverts and
                extroverts — though we live in a world of “extroversion bias,” write the authors of a recent study
                published in <em>Psychological Science</em>. Popular opinion in the U.S. has shifted Jung’s original
                definitions, ascribing more positive adjectives, like “outgoing,” “high energy” and “chatty,” to
                extroverts while introverts are dismissed as “withdrawn,” “shy” and “quiet.”</p>
            <p>These biases aside, can introverts and extroverts get along? The short answer: It depends. If we return
                to Jung’s original theory and understand that these two personality types are about how people recharge
                their “social batteries” differently, we can better understand how they might get together, play
                together and work together successfully.</p>
            <h4>Romantic Partners</h4>
            <p>It’s all about the wiring inside our brains, say the experts. Todd Kashdan, a psychology professor at
                George Mason University and co-author of <em>The Upside of Your Dark Side</em>, argues that the reward
                centers in our brains are activated by different environments; an extrovert draws energy from the
                stimulation of a group, while an introvert needs a quiet environment to recharge. The good news,
                according to researchers and those living with an opposite personality type, is that we can learn from
                each other.</p>
            <p>“Love doesn’t mean finding someone who’s the same as you; it means finding somebody who makes you
                better,” writes Lev Novak, a self-proclaimed extrovert, in a<strong> </strong>Washington Post<em>
                </em>article from 2016 about his relationship with his introverted girlfriend. “More than an obstacle,
                our different perspectives have brought us a closer, richer life … I became someone more well-rounded,
                and our differences became opportunities for growth.”</p>
            <p>Arthur Brooks, a professor of management practice at the Harvard Business School, agrees that introverts
                and extroverts can, indeed, change. Introverts can learn to have conversation, step outside their
                comfort zones and ask for help; extroverts can learn to listen, have deeper conversations, and be alone
                with their thoughts and reflect quietly. In fact, a 2019 study suggested that introverts could be
                happier if they simply fake extroversion, by doing things like smiling at a stranger or reconnecting
                with an old friend.</p>
            <p>But in the end — at least, according to another recent study published in<em> Evolution and Human
                    Behavior — </em>we are who we are. While those of us who are “bold and outgoing” or "shy and
                retiring” can shift and learn to be another way if needed, fundamentally, we all remain who we are and
                that doesn’t change much throughout our lives.</p>
            <h4>In the Office</h4>
            <p>Popular opinion and pop culture suggest that we must be extroverted to achieve success in our careers. In
                a 2006 survey, 65 percent of senior corporate executives identified introversion as a “barrier to
                leadership.” That means for an introvert to rise to the top, they need to beat the bias.</p>
            <p>But some research suggests introverts’ quiet nature gives them a hidden advantage in business — and their
                strength and endurance can help them rise to the top. A 10-year study of 17,000 business executives,
                part of ghSmart’s CEO Genome Project, suggested that the introvert, not the extrovert, makes for a good
                (if not better) boss, particularly when their employees offer ideas for improvement. “Such behavior can
                make extroverted leaders feel threatened. In contrast, introverted leaders tend to listen more carefully
                and show greater receptivity to suggestions, making them more effective leaders,” they write. And other
                studies suggest that introverted traits correlate positively with creativity.</p>
            <p>But what about compatibility between these two different personality types in the workplace? Don’t hold
                your breath; the different communication styles utilized by the two types can lead to a surplus of
                misunderstandings. A 2014 study shows that introverts give poor performance reviews to their extroverted
                peers, consistently evaluating them as poor performers while at the same time being less likely to
                endorse them for promotions. </p>
            <p>When looking at each of these personality types, however, what seems to be most important is that we all
                stay true to who we are. A study published in the <em>Journal of Research in Personality </em>suggests
                that, globally, those who choose their own behavior rather than allow themselves to be constrained by
                outside pressures feel the most emotional stability. It comes down to the power of the truth.</p>
        </div>

        <div class="app_copywriting" v-else-if="targetId == '657bf2eee4b0ac8a2deb9a59'">
            <h4>Step-by-Step Guide to Choosing Your Next Career</h4>
            <p>Choosing a career path may seem like a monumental, permanently binding decision. While finding the right
                job is a key determinant of your happiness and financial security, you’re under no obligation to stick
                with one career path for life. In reality, most people stumble into their “calling” through
                trial-and-error, after spending years in different roles and industries.</p>
            <p>However, if you’re looking for a starting point or are transitioning into the tech industry for the first
                time, it may help to consider a few “objective” pointers to help you find the right job.</p>
            <p>Different occupations call for a different mix of personality traits, technical skills, and soft skills
                to succeed. For instance, someone who buckles under pressure won’t perform well as an ICU nurse, while
                someone who craves variety might grow bored working as an accountant.</p>
            <p>Selecting a career based on Myers-Briggs can be helpful, but there are also a number of other things you
                should consider.</p>
            <h4>Step 1: Consider your strengths and weaknesses</h4>
            <p>Interviewers ask job candidates about their strengths and weaknesses to assess their self-awareness and
                honesty, but also to predict whether they would perform well in the role, find satisfaction in their job
                and fit into the team. Remember, finding the right job is a question of mutual fit. Exploring careers
                based on Myers-Briggs personality types can help you find a job that makes the most of your strengths.
            </p>
            <p>To identify your strengths, think about where you shine in stressful or challenging situations. Perhaps
                you can quickly brainstorm solutions—the mark of a creative mind. Or, you’re adept at managing the
                stress of those around you and restoring calm and order, which indicates leadership traits. Perhaps you
                adapt easily to changing situations, a sign of flexibility. Your strengths are a strong predictor of the
                type of work and workplace environment in which you’re likely to thrive.</p>
            <p>Here are some examples of professional strengths:</p>
            <ul>
                <li>Taking initiative</li>
                <li>Focused</li>
                <li>Enthusiasm</li>
                <li>Trustworthiness</li>
                <li>Discipline</li>
            </ul>
            <p>Weaknesses, on the other hand, signpost the type of work and workplace environment in which you’re likely
                to struggle. However, this doesn’t mean you can’t overcome your weaknesses or that you should renounce
                certain professions. For example, if you dread public speaking but you long to become a UX designer, you
                can alleviate your weakness by practicing your presentation skills.</p>
            <p>Recognize which weaknesses are mutable and which ones represent blockers. For example, if you’re
                reluctant to delegate because you have trouble trusting others, you may be ill-suited for a managerial
                role until or unless you successfully overcome this. Perhaps you may even derive more satisfaction from
                remaining as an individual contributor, where you focus on hands-on tasks.</p>
            <p>Here are some examples of professional weaknesses:</p>
            <ul>
                <li>Lack of confidence</li>
                <li>Discomfort with ambiguity</li>
                <li>Focusing too much on details</li>
                <li>Impatience with bureaucracies</li>
                <li>A tendency to take on too much responsibility</li>
            </ul>
            <h4>Step 2: Consider your goals</h4>
            <p>Your long-term goals and your values are often closely intertwined because most of us perceive our
                careers as a conduit for self-actualization. More specifically, think about the expectations you have
                for yourself as a professional. Is it to progress quickly up the corporate ladder? Surpass a certain
                earnings threshold? Make an impact on other people’s wellbeing? Strike a work/life balance?</p>
            <p>Goals take time to achieve, but certain professions may be more conducive to your goals. For example, the
                banking industry is notorious for poor work/life balance, but the tradeoff is exceptional earning
                potential and fast-tracked promotions. If you’re hankering after a certain rank or job title, consider
                whether your chosen profession offers room for advancement and what are the requirements, such as
                additional licensure or continuing education.</p>
            <p>Understanding your goals not only helps you designate the right career path, but also the industries and
                types of companies you’ll most enjoy working for. It will also help you find the best career based on
                your personality type. For example, if you’re a product designer who wants to create products that
                improve people’s wellbeing, you’ll feel more fulfilled at a healthcare company that produces wearable
                technologies than an entertainment company that sells streaming services.</p>
            <h4>Step 3: Consider your technical skills</h4>
            <p>Most people select a career path that aligns with their educational background or formal training.
                Technical skills are crucial for most jobs—you can’t become a software engineer without training, for
                example—but some technical skills are transferable. For example, a statistician or actuarial scientist
                can become a data analyst because they have the required statistical knowledge, and a software engineer
                can become a machine learning engineer.</p>
            <p>If your technical skillset isn’t compatible with your dream job, make a list of what skills you’re
                missing. Some can be self-taught. Others may be learned through tutorials, short courses, or online
                bootcamps. Perhaps you elect to take an internship in the field or volunteer to gain on-the-job
                experience.</p>
            <p>Finally, note that some of your “incompatible” technical skills can be reframed as soft skills. For
                instance, writing is considered a technical skill for a UX designer but a soft skill for a software
                developer.</p>
            <h4>Step 4: Consider your soft skills and natural aptitudes11111</h4>
            <p>Soft skills are important for any job. Most roles require varying degrees of teamwork, client
                interaction, problem-solving, and communication. In the tech industry, most recruiters look for
                leadership traits even when hiring for individual contributor (IC) roles.</p>
            <p>This is because ICs in tech must deal with a lot of ambiguity, collaborate with numerous stakeholders and
                communicate solutions to people with non-technical backgrounds. Those who demonstrate initiative, a
                strong work ethic and composure in stressful situations are more likely to thrive in such conditions and
                remain in their jobs long-term.</p>
            <p>Consider what soft skills you already possess and which soft skills are expected in your prospective
                workplace or chosen industry. For example, if you’re good at putting people at ease, you’ll be a shoo-in
                for a client-facing tech role, such as UX designer. If you’re an idea generator who excels at finding
                solutions, you might enjoy wading into legacy code and troubleshooting bugs as a software engineer.</p>
            <h4>Step 5: Consider your personality type</h4>
            <p>The easiest way to assess your personality type is by assessing who you are when you’re not working.
                Independent of workplace expectations and social mores of the office, what kind of person are you? Are
                you talkative or taciturn? Do you relish being the center of attention or do you prefer to let others
                lead the conversation? Certain personality traits predispose you to certain professions.</p>
            <p>Taking a personality type test such as the MBTI helps, too, because it offers insight into your natural
                aptitudes, strengths, and weaknesses.</p>
            <p>Springboard also has a Career Assessment Test built specifically for this purpose. Try the test here!</p>
            <h4>Step 6: Consider your interests</h4>
            <p>Your interests may or may not dovetail with your current skill set, but they’re definitely worth
                exploring if you’re looking for a fulfilling career. What are you naturally curious about? What are the
                topics you enjoy reading about on Quora or Reddit? What are your hobbies? Your interests give a strong
                indication of the type of work you’ll enjoy the most.</p>
        </div>

        <div class="app_copywriting" v-if="targetId == '657bf2efe4b0ced0eadc6ca2'">
            <h4><strong>Differences between the MBTI and the Big Five</strong></h4>
            <p>Occasionally, people describe the MBTI and the Big Five as two competing personality theories or models,
                but this is incorrect.</p>
            <p>Why? While the MBTI <em>does</em> rely on an underlying personality theory, the Big Five does not. First,
                let’s start with the theory behind the MBTI.</p>
            <h4>Theory of the MBTI</h4>
            <p>The Myers-Briggs, MBTI, and other “16 personality”-like models of personality all share a loose
                connection to Carl Jung’s theories, as interpreted by Isabel Myers and Katharine Briggs. I’ll refer to
                this specific interpretation as <em>MBTI theory</em>.</p>
            <p>According to MBTI theory, personality differences are due to differences in <em>attitudes</em> and
                <em>cognitive functions</em>.
            </p>
            <p><strong>Extraverted vs. Introverted Attitude</strong></p>
            <p>The primary distinction between people is in their attitude towards <em>extraversion</em> or
                <em>introversion</em>. In MBTI theory, an extraverted attitude reflects a stronger orientation towards
                the external world of objects and people. In contrast, those with a more introverted attitude gravitate
                towards the inner, subjective world of concepts and ideas.
            </p>
            <p><strong>Cognitive Functions</strong></p>
            <p>Regardless of their extraverted or introverted attitude, MBTI theory claims that all people process
                information and make decisions using the same four cognitive functions: Sensing, Intuition, Thinking,
                and Feeling.</p>
            <p><strong>Perceiving Functions: Sensing and Intuition</strong></p>
            <p>In MBTI theory, Sensing and Intuition are Perceiving cognitive functions. Both functions allow one to
                perceive, become aware, and take in new information about the world.</p>
            <p>These two perceiving functions are often labeled <em>irrational</em> because they are concerned with
                attending to the flow of information without any logical or rational constraints.</p>
            <p><em>Sensing</em> refers to perception through the sensory system. Through sensing perception, people gain
                awareness of their immediate environment directly with their senses in the present moment.</p>
            <p><em>Intuition</em> refers to perception from sources other than the sensory system. For example, with
                intuitive perception, people perceive abstract patterns and connections between ideas or notice a “gut
                feeling” about a situation.</p>
            <p><strong>Judging Functions: Thinking and Feeling</strong></p>
            <p>Thinking and Feeling are <em>Judging</em> cognitive functions. These two functions bring rational order
                to the flow of information apprehended by the perceiving functions.</p>
            <p>These functions are often labeled <em>rational</em> because they are concerned with applying reason:
                making logical connections, deducing cause and effect, assessing relative values and needs among people,
                and so on.</p>
            <p><em>Thinking</em> refers to judgment made through the application of logic. With thinking judgment,
                people make decisions based on objective, logical connections. By nature, thinking judgment is
                impersonal, critical, and analytical.</p>
            <p><em>Feeling</em> refers to judgment made by comparing relative values or interpersonal concerns. With
                feeling judgment, people make decisions based on the values and needs of other people. Feeling judgment
                often requires an acute understanding of others’ emotions, desires, and perceptions.</p>
            <p><strong>Judging vs. Perceiving Attitude</strong></p>
            <p>MBTI theory claims that people differ in how they present themselves to the outer world. Their attitude
                towards either <em>Judging</em> or <em>Perceiving</em> describes their tendency to present either a
                judging function or a perceiving function to the external world (i.e., other people).</p>
            <p>A person with a <em>Judging</em> attitude primarily presents one of the two judging functions (Thinking
                or Feeling) to the outer world. Yet, at the same time, they tend to favor a perceiving function (Sensing
                or Intuition) in their inner, subjective world.</p>
            <p>Conversely, a person with a <em>Perceiving</em> attitude tends to present one of the two perceiving
                functions (Sensing or Intuition) to the outer world. They favor a judging function (Thinking or Feeling)
                in their inner world.</p>
        </div>
    </div>
</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            detailsData: [
                {
                    id: "657bf2efe4b0ac8a2deb9a5c",
                    face: "./img/avatar1.webp",
                    photo: "./img/photo1.webp",
                    name: 'Ava',
                    title: "The Development of the Myers-Briggs Test",
                },
                {
                    id: "657bf2f0e4b02b95333529da",
                    face: "./img/avatar2.jpg",
                    photo: "./img/photo2.png",
                    name: 'Sophia',
                    title: "This is about your Personalities",
                },
                {
                    id: "657bf2f0e4b0ac8a2deb9a65",
                    face: "./img/avatar3.jpg",
                    photo: "./img/photo3.jpg",
                    name: 'Mia',
                    title: "This is about your Personalities",
                },
                {
                    id: "657bf2eee4b0ac8a2deb9a59",
                    face: "./img/avatar4.webp",
                    photo: "./img/photo4.webp",
                    name: 'Isabella',
                    title: "This is about your Personalities",
                },
                {
                    id: "657bf2efe4b0ced0eadc6ca2",
                    face: "./img/avatar5.jpg",
                    photo: "./img/photo5.jpg",
                    name: 'Amelia',
                    title: "This is about your Personalities",
                },
            ],
            detailspresent: {},
            targetId: null
        },
        methods: {},
        mounted() {
            const searchParams = new URL(window.location).searchParams;
            this.targetId = searchParams.get('id');
            this.detailspresent = this.detailsData.find(obj => obj.id === this.targetId);
            console.log('squareDetails', this.detailspresent)
            public.onStatistics({ event: 'HP2300101', bizId: 'asdas', type: "custom", })
        }
    })
</script>