#googleStore {
    width: 100%;
    height: 100%;
    background: url("../../assets/googleBg.png") no-repeat;
    background-size: cover;
    overflow-x: hidden;

    .googleStore-div {
        width: 100%;
        height: auto;
        margin: 211px 0 0 0;
        position: relative;

        p:nth-child(1) {
            font-size: 17px;
            font-family: Arial-Bold, Arial;
            font-weight: 700;
            color: #222;
            margin-left: 25px;

            span {
                color: #FF4E4E;
            }
        }

        
        p:nth-child(2) {
            width: 243px;
            font-size: 14px;
            font-family: Arial-Bold, Arial;
            color: #999DB9;
            margin-top: 17px;
            line-height: 25px;
            margin-left: 25px;
            margin-bottom: 5px;

            span {
                color: #FF4E4E;
            }
        }


        .imgDiv{
            width: 87%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;
            img{
                width: 159px;
                height: 95px;
                display: block;
                margin-top: 7px;
            }
        }

        p:nth-child(4) {
            font-size: 15px;
            font-family: Arial-Bold, Arial;
            font-weight: 700;
            color: #222222;
            margin-top: 29px;
            margin-left: 25px;

            span {
                color: #FF4E4E;
            }

          
        }

        button {
            width: 60px;
            height: 28px;
            background: linear-gradient(270deg, #D74CFC 0%, #8C51FF 100%);;
            border-radius: 10px 10px 10px 10px;
            border: none;
            font-size: 12px;
            font-family: Arial-Bold, Arial;
            font-weight: 700;
            color: #FFFFFF;
            line-height: 28px;
            text-align: center;
            position: absolute;
            bottom: 180px;
            right: 20px;
        }

        p:nth-child(6) {
            width: 295px;
            height: 57px;
            margin: 47px auto 0;
            font-size: 15px;
            font-family: Arial-Bold, Arial;
            font-weight: 700;
            color: #999DB9;
            background: #D3D4E5;
            border-radius: 10px 10px 10px 10px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            white-space: nowrap; // 单行溢出隐藏
            overflow: hidden;
            text-overflow: ellipsis; // 单行溢出隐藏
            line-height: 57px;
            padding: 0 15px;

            span {
                color: #FF4E4E;
            }
        }

        .googleStore-div-div {
            width: 240px;
            height: 43px;
            background: linear-gradient(270deg, #8C51FF 0%, #D74CFC 100%);
            border-radius: 25px;
            font-size: 14px;
            font-family: Arial-Bold, Arial;
            font-weight: 700;
            color: #FFFFFF;
            line-height: 43px;
            text-align: center;
            margin: 64px auto 20px;
        }
    }
}