.customerservice {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;

    .customerservice_text {
        width: 331px;
        height: auto;
        margin: 90px auto 0;
        font-size: 14px;
        font-family: 'Arial-Regular, Arial';
        font-weight: 400;
        color: #222;
        line-height: 16px;
    }

    .nametext {
        width: (696px/2);
        height: 150px;
        background: #f5f4fa;
        border-radius: 10px;
        margin: 0 auto 15px;
        position: relative;
        top: 20px;
        border: 1px solid rgba($color: #D3D4E5, $alpha: 0.5);

        textarea {
            width: 90%;
            height: 110px;
            border: none;
            font-size: 15px;
            color: #222;
            margin: 15px 16px 0;
            -webkit-user-select: text !important;
            background: rgba($color: #fff, $alpha: 0.0);
        }

        p {
            font-size: (24px/2);
            color: #999db9;
            margin-left: (590px/2);
            width: 100px;
        }
    }

    .email {
        width: (696px/2);
        height: 44px;
        background: #F5F4FA;
        border-radius: 10px;
        margin: 35px auto 0;

        span {
            font-size: 15px;
            font-family: Arial;
            font-weight: 400;
            color: #282E5E;
            line-height: 44px;
            margin-left: 10px;
        }

        input {
            width: 80%;
            height: 75%;
            margin-left: 5px;
            border: none;
            background: #F5F4FA;
        }
    }

    .album {
        width: 100%;
        height: auto;
        position: relative;

        .album-div {
            width: 100%;
            height: auto;
            display: flex;
            overflow-x: auto;

            p:nth-child(1) {
                width: (170px/2);
                height: (170px/2);
                margin: 18px 0 0 9px;
                position: relative;
                flex-shrink: 0;
                border-radius: 10px;
            }

            p {
                width: (170px/2);
                height: (170px/2);
                margin: 18px 0 0 6.5px;
                position: relative;
                flex-shrink: 0;
                overflow: hidden;

                .van-image {
                    width: 100%;
                    height: (170px/2);
                }

                .img {
                    width: 100%;
                    height: (170px/2);
                }

                .delImg {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
        }
    }

    .title {
        width: 343px;
        height: auto;
        background: #F5F4FA;
        border-radius: (15px/2);
        opacity: 1;
        border: 1px solid #D3D4E5;
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
        padding-bottom: 5px;

        div {
            width: 110px;
            height: 25px;
            background: linear-gradient(270deg, #F748B5 0%, #4E38E6 100%);
            border-radius: 5px 5px 5px 5px;
            transform: skewX(-10deg);
            font-size: 14px;
            font-family: 'PingFang SC-粗体, PingFang SC';
            font-weight: 400;
            color: #FFFFFF;
            line-height: 20px;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            line-height: 25px;
            margin: 10px auto 0;
        }

        .title-p1 {
            width: 309px;
            font-size: 12px;
            font-family: 'PingFang SC-中等, PingFang SC';
            font-weight: 400;
            color: #282E5E;
            margin: 10px auto 0;

            span {
                color: #FF5486;
            }
        }

        .title-p2 {
            width: 309px;
            font-size: 12px;
            font-family: 'PingFang SC-中等, PingFang SC';
            font-weight: 400;
            color: #282E5E;
            margin: 0 auto;
        }
    }

    .titles {
        width: 343px;
        height: 131px;
        background: #F5F4FA;
        border-radius: (15px/2);
        opacity: 1;
        border: 1px solid #D3D4E5;
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-50%);

        div {
            width: 110px;
            height: 25px;
            background: linear-gradient(270deg, #F748B5 0%, #4E38E6 100%);
            border-radius: 5px 5px 5px 5px;
            transform: skewX(-10deg);
            font-size: 14px;
            font-family: 'PingFang SC-粗体, PingFang SC';
            font-weight: 400;
            color: #FFFFFF;
            line-height: 20px;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            line-height: 25px;
            margin: 10px auto 0;
        }

        .title-p1 {
            width: 309px;
            font-size: 12px;
            font-family: 'PingFang SC-中等, PingFang SC';
            font-weight: 400;
            color: #282E5E;
            margin: 10px auto 0;
            text-align: right;

            span {
                color: #FF5486;
            }
        }

        .title-p2 {
            width: 309px;
            font-size: 12px;
            font-family: 'PingFang SC-中等, PingFang SC';
            font-weight: 400;
            color: #282E5E;
            margin: 0 auto;
            text-align: right;
        }
    }

    .buttons {
        width: 275px;
        height: 44px;
        background: url('../../../assets/public/button.png') no-repeat;
    background-size: cover;
        border-radius: 15px;
        color: #fff;
        border: none;
        margin-top: 90px;
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
        opacity: 0.5;
        font-weight: 700;
    }

    .button {
        width: 275px;
        height: 44px;
        background: url('../../../assets/report/button.png') no-repeat;
        background-size: contain;
        border-radius: 15px;
        color: #fff;
        border: none;
        margin-top: 90px;
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
        font-weight: 700;
    }
}