@charset "UTF-8";
.customerservice {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}
.customerservice .customerservice_text {
  width: 331px;
  height: auto;
  margin: 90px auto 0;
  font-size: 14px;
  font-family: "Arial-Regular, Arial";
  font-weight: 400;
  color: #222;
  line-height: 16px;
}
.customerservice .nametext {
  width: 348px;
  height: 150px;
  background: #f5f4fa;
  border-radius: 10px;
  margin: 0 auto 15px;
  position: relative;
  top: 20px;
  border: 1px solid rgba(211, 212, 229, 0.5);
}
.customerservice .nametext textarea {
  width: 90%;
  height: 110px;
  border: none;
  font-size: 15px;
  color: #222;
  margin: 15px 16px 0;
  -webkit-user-select: text !important;
  background: rgba(255, 255, 255, 0);
}
.customerservice .nametext p {
  font-size: 12px;
  color: #999db9;
  margin-left: 295px;
  width: 100px;
}
.customerservice .email {
  width: 348px;
  height: 44px;
  background: #F5F4FA;
  border-radius: 10px;
  margin: 35px auto 0;
}
.customerservice .email span {
  font-size: 15px;
  font-family: Arial;
  font-weight: 400;
  color: #282E5E;
  line-height: 44px;
  margin-left: 10px;
}
.customerservice .email input {
  width: 80%;
  height: 75%;
  margin-left: 5px;
  border: none;
  background: #F5F4FA;
}
.customerservice .album {
  width: 100%;
  height: auto;
  position: relative;
}
.customerservice .album .album-div {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto;
}
.customerservice .album .album-div p:nth-child(1) {
  width: 85px;
  height: 85px;
  margin: 18px 0 0 9px;
  position: relative;
  flex-shrink: 0;
  border-radius: 10px;
}
.customerservice .album .album-div p {
  width: 85px;
  height: 85px;
  margin: 18px 0 0 6.5px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.customerservice .album .album-div p .van-image {
  width: 100%;
  height: 85px;
}
.customerservice .album .album-div p .img {
  width: 100%;
  height: 85px;
}
.customerservice .album .album-div p .delImg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.customerservice .title {
  width: 343px;
  height: auto;
  background: #F5F4FA;
  border-radius: 7.5px;
  opacity: 1;
  border: 1px solid #D3D4E5;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-bottom: 5px;
}
.customerservice .title div {
  width: 110px;
  height: 25px;
  background: linear-gradient(270deg, #F748B5 0%, #4E38E6 100%);
  border-radius: 5px 5px 5px 5px;
  transform: skewX(-10deg);
  font-size: 14px;
  font-family: "PingFang SC-粗体, PingFang SC";
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 25px;
  margin: 10px auto 0;
}
.customerservice .title .title-p1 {
  width: 309px;
  font-size: 12px;
  font-family: "PingFang SC-中等, PingFang SC";
  font-weight: 400;
  color: #282E5E;
  margin: 10px auto 0;
}
.customerservice .title .title-p1 span {
  color: #FF5486;
}
.customerservice .title .title-p2 {
  width: 309px;
  font-size: 12px;
  font-family: "PingFang SC-中等, PingFang SC";
  font-weight: 400;
  color: #282E5E;
  margin: 0 auto;
}
.customerservice .titles {
  width: 343px;
  height: 131px;
  background: #F5F4FA;
  border-radius: 7.5px;
  opacity: 1;
  border: 1px solid #D3D4E5;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.customerservice .titles div {
  width: 110px;
  height: 25px;
  background: linear-gradient(270deg, #F748B5 0%, #4E38E6 100%);
  border-radius: 5px 5px 5px 5px;
  transform: skewX(-10deg);
  font-size: 14px;
  font-family: "PingFang SC-粗体, PingFang SC";
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 25px;
  margin: 10px auto 0;
}
.customerservice .titles .title-p1 {
  width: 309px;
  font-size: 12px;
  font-family: "PingFang SC-中等, PingFang SC";
  font-weight: 400;
  color: #282E5E;
  margin: 10px auto 0;
  text-align: right;
}
.customerservice .titles .title-p1 span {
  color: #FF5486;
}
.customerservice .titles .title-p2 {
  width: 309px;
  font-size: 12px;
  font-family: "PingFang SC-中等, PingFang SC";
  font-weight: 400;
  color: #282E5E;
  margin: 0 auto;
  text-align: right;
}
.customerservice .buttons {
  width: 275px;
  height: 44px;
  background: url("../../../assets/public/button.png") no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: #fff;
  border: none;
  margin-top: 90px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  opacity: 0.5;
  font-weight: 700;
}
.customerservice .button {
  width: 275px;
  height: 44px;
  background: url("../../../assets/report/button.png") no-repeat;
  background-size: contain;
  border-radius: 15px;
  color: #fff;
  border: none;
  margin-top: 90px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */