@charset "UTF-8";
.customerservice {
  width: 100%;
  height: 100%;
  background: #0E061E;
  overflow: hidden;
}
.customerservice .titlear {
  justify-content: flex-end !important;
}
.customerservice .title {
  width: 100%;
  height: 80px;
  background: #0E061E;
  display: flex;
  justify-content: flex-start;
}
.customerservice .title img {
  width: 30px;
  height: 30px;
}
.customerservice .title .title_img1 {
  margin: 35px 0 0 16px;
}
.customerservice .title .title_img1ar {
  transform: rotateY(180deg);
}
.customerservice .title .title_img2 {
  margin: 35px 0 0 20px;
}
.customerservice .title p {
  margin-top: 40px;
  font-size: 17px;
  font-family: "Arial-Bold, Arial";
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 7px;
}
.customerservice .customerservice_textar,
.customerservice .customerservice_text {
  width: 331px;
  height: auto;
  margin: 25px auto 0;
  font-size: 14px;
  font-family: "Arial-Regular, Arial";
  font-weight: 400;
  color: #fff;
  line-height: 16px;
}
.customerservice .customerservice_textar {
  text-align: right !important;
}
.customerservice .nametext {
  width: 348px;
  height: 150px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin: 20px auto 15px;
  overflow: hidden;
}
.customerservice .nametext textarea {
  width: 90%;
  height: 110px;
  border: none;
  font-size: 15px;
  color: #fff;
  margin: 15px 16px 0;
  -webkit-user-select: text !important;
  background: rgba(255, 255, 255, 0);
}
.customerservice .nametext p {
  font-size: 12px;
  color: #999db9;
  margin-left: 295px;
  width: 100px;
}
.customerservice .nametextar {
  width: 348px;
  height: 150px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin: 20px auto 15px;
  overflow: hidden;
}
.customerservice .nametextar textarea {
  width: 90%;
  height: 110px;
  border: none;
  font-size: 15px;
  color: #fff;
  margin: 15px 16px 0;
  -webkit-user-select: text !important;
  background: rgba(255, 255, 255, 0);
}
.customerservice .nametextar p {
  font-size: 12px;
  color: #999db9;
  margin-left: 20px;
  width: 100px;
}
.customerservice .email {
  width: 348px;
  height: 44px;
  background: #F5F4FA;
  border-radius: 10px;
  margin: 35px auto 0;
}
.customerservice .email span {
  font-size: 15px;
  font-family: Arial;
  font-weight: 400;
  color: #282E5E;
  line-height: 44px;
  margin-left: 10px;
}
.customerservice .email input {
  width: 80%;
  height: 75%;
  margin-left: 5px;
  border: none;
  background: #F5F4FA;
}
.customerservice .album {
  width: 350px;
  height: 100px;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px 15px 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 15px auto 0;
  display: flex;
  justify-content: flex-start;
}
.customerservice .album .album_p1 {
  width: 75px;
  height: 75px;
  position: relative;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 13px 0 0 14px;
}
.customerservice .album .album_p1 img {
  width: 100%;
  height: 100%;
}
.customerservice .album .album_ar {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 13px 0 0 14px;
}
.customerservice .album .album_ar img {
  width: 100%;
  height: 100%;
}
.customerservice .album .album_p2 {
  width: 75px;
  height: 75px;
  position: relative;
  margin: 13px 0 0 10px;
}
.customerservice .album .album_p2 .van-image {
  width: 75px;
  height: 75px;
}
.customerservice .album .album_p2 .delImg {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.customerservice .titles {
  width: 343px;
  height: 131px;
  background: #F5F4FA;
  border-radius: 7.5px;
  opacity: 1;
  border: 1px solid #D3D4E5;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.customerservice .titles div {
  width: 110px;
  height: 25px;
  background: linear-gradient(270deg, #F748B5 0%, #4E38E6 100%);
  border-radius: 5px 5px 5px 5px;
  transform: skewX(-10deg);
  font-size: 14px;
  font-family: "PingFang SC-粗体, PingFang SC";
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 25px;
  margin: 10px auto 0;
}
.customerservice .titles .title-p1 {
  width: 309px;
  font-size: 12px;
  font-family: "PingFang SC-中等, PingFang SC";
  font-weight: 400;
  color: #282E5E;
  margin: 10px auto 0;
  text-align: right;
}
.customerservice .titles .title-p1 span {
  color: #FF5486;
}
.customerservice .titles .title-p2 {
  width: 309px;
  font-size: 12px;
  font-family: "PingFang SC-中等, PingFang SC";
  font-weight: 400;
  color: #282E5E;
  margin: 0 auto;
  text-align: right;
}
.customerservice .buttons {
  width: 280px;
  height: 47px;
  background: #D3D4E5;
  border-radius: 25px;
  color: #fff;
  border: none;
  margin-top: 100px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}
.customerservice .button {
  width: 280px;
  height: 47px;
  background: linear-gradient(270deg, #E4F8BB 0%, #81FAF3 100%);
  background-size: cover;
  border-radius: 25px;
  color: #222222;
  font-weight: 700;
  border: none;
  margin-top: 100px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}/*# sourceMappingURL=index.css.map */