#maskedlayer {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0);
  position: relative;
  overflow: hidden;

  .floatingwindow {
    width: 100%;
    height: 346px;
    background:  linear-gradient(180deg, #5731E2 0%, #9B23B6 100%);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 2px 0px rgba(255, 255, 255, 0.20000000298023224);
    border-radius: 40px 40px 0 0;
    position: absolute;
    bottom: 0;

    .countdown {
      width: 100px;
      height: 100px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      margin-top: 20px;
      z-index: 99;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    .copywriting {
      width: 183px;
      height: 39px;
      font-size: 14px;
      font-family: 'PingFang SC-粗体, PingFang SC';
      font-weight: 400;
      color: #FFFFFF;
      line-height: 20px;
      margin-left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin-top: 16px;
    }

    .commodity {
      width: 275px;
      height: 65px;
      background: rgba(0,0,0,0.3);
      border-radius: 20px 20px 20px 20px;
      margin-left: 50%;
      transform: translateX(-50%);
      display: flex;
      margin-top: 13px;

      img {
        width: 83px;
        height: 65px;
      }

      .commodity-name {
        width: 100px;
        height: 23px;
        font-size: 20px;
        font-family: "Arial-Bold, Arial";
        font-weight: 700;
        color: #ffb83e;
        line-height: 23px;
        margin-top: 21px;
      }

      .commodity-price {
        width: 85px;
        height: 33px;
        background: linear-gradient(270deg, #F9B44C 0%, #DC48F6 100%);
        background-size: cover;
        border-radius: 12px 12px 12px 12px;
        opacity: 1;
        margin-top: 16px;
        font-size: 12px;
        line-height: 33px;
        color: #fff;
        text-align: center;
      }
    }

    .button {
      width: 240px;
      height: 43px;
      background: #fff;
      background-size: cover;
      border-radius: 25px 25px 25px 25px;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 22px;
      font-size: 14px; 
      font-weight: bold;
      color: #9824B9;
      line-height: 43px;
      text-align: center;
    }

    #demoCanvas {
      position: absolute;
      bottom: 210px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}