html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
}

.bgTop {
    width: 100%;
    max-width: 1920px;
    min-width: 1520px;
    height: 996px;
    background: url("../images/bg_top.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
@media (min-width: 1920px) {
    .bgTop {
        left: 50%;
        margin-left: -952px;
    }
}

.bgAbout {
    width: 100%;
    max-width: 1920px;
    min-width: 1520px;
    height: 996px;
    background: url("../images/bg_sub_top.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 996px;
    left: 0;
    z-index: 0;
}
@media (min-width: 1920px) {
    .bgAbout {
        left: 50%;
        margin-left: -952px;
    }
}

.centerBg {
    width: 100%;
    max-width: 1920px;
    min-width: 1520px;
    height: 524px;
    background: url("../images/about.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 2369px;
    left: 0;
    z-index: 0;
}
@media (min-width: 1920px) {
    .centerBg {
        left: 50%;
        margin-left: -960px;
    }
}

.box {

    width: 1520px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-top: 20px;
}

@media (max-width: 1520px) {
    .box {
        overflow: hidden;
    }
}

.headerBox {
    width: 100%;
    height: 129px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 100;
}
.header {   
    height: 129px;
    width: 1520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -710px;
    z-index: 100;
}
.logo {
    background: url("../images/logo.png");
    height: 90px;
    width: 363px;
}

.rightBtn {
    display: flex;
    align-items: center;
}

.topBtn {
    margin-left: 50px;
    font-size: 28px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.topBtn.active {
    font-weight: 700;
}

.topBtn.active::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: #FFFFFF;
    left: 50%;
    bottom: -6px;
    margin-left: -25px;
}

.line {
    width: 763px;
    height: 1px;
    background: #FFFFFF;
    margin-top: 20px;
}

.lineTitle {
    margin-bottom: 32px;
}

.lineTDesc {
    margin-bottom: 20px;
}

.titleBox {
    margin-top: 255px;
    margin-left: 50px;
}

.titleBox .title {
    height: 60px;
    font-size: 100px;
    font-family: MiSans-Heavy, MiSans;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 60px;
    padding-bottom: 52px;
}

.titleBox .desc {
    height: 60px;
    font-size: 36px;
    font-family: MiSans-Regular, MiSans;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 60px;
}

.aboutBox {
    margin-top: 420px;
    margin-left: 50px;
}

.aboutBox .title {
    height: 60px;
    font-size: 100px;
    font-family: MiSans-Heavy, MiSans;
    font-weight: 900;
    color: #303876;
    line-height: 60px;
    margin-bottom: 58px;
}

.aboutBox .desc {
    height: 50px;
    font-size: 28px;
    font-family: MiSans-Medium, MiSans;
    font-weight: 500;
    color: #222222;
    line-height: 50px;
}

.aboutBox .aboutLine {
    height: 36px;
    width: 1px;
}

.coo {
    margin-top: 346px;
}

.coo .title {
    height: 60px;
    font-size: 80px;
    font-family: MiSans-Heavy, MiSans;
    font-weight: 900;
    color: #303876;
    line-height: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.coo .desc {
    height: 60px;
    font-size: 36px;
    font-family: MiSans-Regular, MiSans;
    font-weight: 400;
    color: #222222;
    line-height: 60px;
    text-align: center;
}

.center {
    margin-top: 353px;
    margin-left: 751px;
}

.center .desc {
    height: 40px;
    font-size: 28px;
    font-family: MiSans-Medium, MiSans;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 40px;
}

.businessLeft {
    height: 640px;
    height: 60x;
    font-size: 46px;
    font-family: MiSans-Heavy, MiSans;
    font-weight: 900;
    color: #303876;
    line-height: 60px;
}

.businessLeft .innerBox {
    padding-top: 84px;
    position: relative;
    padding-left: 50px;
}

.businessLeft .innerBox .innerTitleBox {
    margin-bottom: 32px;
}

.businessLeft .innerBox .descBox1 {
    margin-bottom: 16px;
}

.businessLeft .innerBox .descBox2 {
    margin-bottom: 24px;
}

.businessLeft .innerBox .desc {
    height: 40px;
    font-size: 28px;
    font-family: MiSans-Medium, MiSans;
    font-weight: 500;
    color: #222222;
    line-height: 40px;
}

.businessLeft .innerBox .imageBox {
    position: absolute;
    top: 0;
    left: 846px;
    width: 800px;
    height: 640px;
}

.businessLeft .innerBox .img {
    width: 100%;
    height: 100%;
}

.businessRight {
    height: 640px;
    height: 60x;
    font-size: 46px;
    font-family: MiSans-Heavy, MiSans;
    font-weight: 900;
    color: #303876;
    line-height: 60px;
}

.businessRight .innerBox {
    padding-top: 84px;
    padding-left: 740px;
    position: relative;
}

.businessRight .innerBox .innerTitleBox {
    margin-bottom: 32px;
}

.businessRight .innerBox .descBox1 {
    margin-bottom: 16px;
}

.businessRight .innerBox .descBox2 {
    margin-bottom: 24px;
}

.businessRight .innerBox .desc {
    height: 40px;
    font-size: 28px;
    font-family: MiSans-Medium, MiSans;
    font-weight: 500;
    color: #222222;
    line-height: 40px;
}

.businessRight .innerBox .imageBox {
    position: absolute;
    top: 0;
    left: -82px;
    width: 800px;
    height: 640px;
}

.businessRight .innerBox .img {
    width: 100%;
    height: 100%;
}

.businessTitle {
    margin-top: 138px;
    margin-bottom: 23px;
    height: 60px;
    font-size: 80px;
    font-family: MiSans-Heavy, MiSans;
    font-weight: 900;
    color: #303876;
    line-height: 60px;
    text-align: center;
}

.contan {
    width: 1520px;
    margin: 0 auto;
    text-align: center;
}

.contan .name {
    padding-top: 76px;
    height: 60px;
    font-size: 80px;
    font-family: MiSans-Heavy, MiSans;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 60px;
    margin-bottom: 70px;
}

.contan .desc {
    height: 60px;
    font-size: 36px;
    font-family: MiSans-Medium, MiSans;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 60px;
}

.footer {
    margin-top: 78px;
    height: 88px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.footer .text {
    width: 1520px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 88px;
    text-align: center;
}

.bgBottom {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background: linear-gradient(135deg, #28C2FE 0%, #5F79FF 49%, #FC24E6 100%);
    position: relative;
}