.details-top {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-left: 50%;
    transform: translateX(-50%);

    p {
        height: 50px;
        margin: 0 20px;
        line-height: 50px;
    }

    .freeze {
        width: 100px;
        height: 40px;
        border-radius: 10px;
        border: solid 1px #ccc;
        text-align: center;
        line-height: 40px;
        cursor: pointer; // 手指
        margin-top: 5px;
    }

    .anniu {
        width: auto;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        margin-left: 10%;

        button {
            width: 100px;
            height: 30px;
            margin-right: 15px;
        }
    }
}

#details-top {
    width: 90%;
    height: 180px;
    display: flex;
    // border: solid 0.5px #333333;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #ccc;

    .details-top-left {
        width: 35%;
        margin-left: 50px;
        color: #7F7F7F;

        .details-img {
            text-align: center;
        }

        p {
            color: #000;
        }
    }

    .details-top-right {
        width: 65%;

        .punish {
            padding: 0 !important;
            margin: 5px 0 !important;
        }

        .infinite-list {
            width: 100%;
            height: 150px;
            overflow: auto;
            box-shadow: 0 0 5px #ccc;
            padding: 0 5px;

            div {
                padding: 2px 0;
                display: flex;
                justify-content: flex-start;
                margin-bottom: 10px;

                span {
                    display: block;
                    height: auto;
                    min-width: 150px;
                    padding: 0 20px;
                    overflow : hidden;
                    display: -webkit-box;
                    -webkit-line-clamp:4;
                    -webkit-box-orient: vertical;
                }
            }

            .no-more-punish {
                width: 100%;
                height: 30px;
                text-align: center;
                line-height: 20px;
                color: #f18484;
            }

            .loading-punish {
                text-align: center;
                font-size: 35px;
                color: #409eff;
            }
        }
    }
}



.tablesd {
    width: 90%;
    height: 540px;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 0 5px #ccc;

    .tablesd-left {
        min-width: 20%;
        width: 25%;
        height: 100%;
        // border-right: solid 0.2px;
        box-shadow: 0 0 5px #ccc;
        overflow: hidden;

        .tablesd-left-checked {
            width: 100%;
            height: auto;
            border-bottom: solid 1px;
            border-right: solid 1px #fff;
            margin: 0;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
        }

        .tablesd-left-unselected {
            width: 100%;
            min-height: 42px;
            height: auto;
            margin: 0;
            line-height: 40px;
            text-align: center;
            background: rgb(63, 62, 62);
            border-bottom: solid 0.2px;
            border-right: solid 1px rgb(63, 62, 62);
            ;
            color: #ccc;
            font-size: 14px;
        }

        .el-pagination {
            position: absolute;
            bottom: 5px;
        }
    }

    .tablesd-right {
        width: calc(100% - 18%);
        overflow: auto;

        .single {
            width: 100%;
            height: auto;
            padding: 10px 20px;

            .operationDetails {
                width: 100px;
                height: 40px;
                border-radius: 10px;
                border: solid 1px #ccc;
                text-align: center;
                line-height: 40px;
                margin-left: calc(100% - 110px);
                cursor: pointer; // 手指
            }

            .message-left {
                width: 100%;
                height: auto;
                margin-top: 25px;

                .message-left-name {
                    font-weight: 600;

                    img {
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }

                .message-left-time {
                    padding: 0;
                    margin: 0 0 5px 0;

                    span:nth-child(1) {
                        color: #7F7F7F;
                        font-size: 12px;

                    }

                    span:nth-child(2) {
                        img {
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                }

                .host-operate {
                    width: 100%;
                    height: auto;

                    button {
                        padding: 3px 10px;
                        margin: 2px 10px;
                    }
                }

                hr {
                    width: 150px;
                    margin-left: 0;
                }
            }

            .message-right {
                width: 100%;
                height: auto;
                text-align: right;
                margin-top: 30px;

                .message-right-name {
                    font-weight: 600;

                    .el-icon-s-home {
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }

                .message-right-time {

                    span {
                        color: #7F7F7F;
                        font-size: 12px;
                    }

                   
                }

                hr {
                    width: 150px;
                    margin-right: 0;
                }
            }
        }

        .no-more {
            width: 100%;
            height: 30px;
            text-align: center;
            line-height: 20px;
            color: #f18484;
        }

        .loading {
            width: 75%;
            height: 30px;
            text-align: center;
            font-size: 35px;
            color: #409eff;
            position: absolute;
            bottom: 60px;
        }
    }

}


::v-deep .el-dialog--center .el-dialog__body {
    padding: 0 !important;

    .deductions {
        width: 100%;
        text-align: center;
    }
}

.punishchoose {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 5px auto 0;

    p {
        margin: 5px 0 0 0;
    }
}

.punishch {
    width: 60%;
    margin: 10px auto 0;
    text-align: center;

    p {
        margin: 10px 0 10px 0;
        color: #333333;
        font-size: 18px;
    }
}