a,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
span,
ul {
  padding: 0;
  margin: 0;
}

em {
  font-style: normal;
}

a,
a:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}

.card,
.no-shadow {
  box-shadow: 0 0 0;
}

p {
  margin-bottom: 0;
}

ul,
ol,
li {
  text-decoration: none;
  list-style: none;
}

a,
body,
button,
input {
  outline: 0;
  color: #333;
  outline-color: invert;
  outline-style: none;
  outline-width: 0px;
  border: none;
  border-style: none;
  font-weight: 500;
  text-shadow: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  outline-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

body {
  background: #fff;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

.lt {
  float: left;
}

.rt {
  float: right;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.flex-col-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col-around {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  justify-content: space-around;
}

.flex-col-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  justify-content: center;
}

.flex-grow-0 {
  min-width: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flex-justify-content {
  display: flex;
  justify-content: space-between;
}

.flex-grow-1 {
  min-width: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.flex-x-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-y-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.flex-y-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.flex-x-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.flex-x-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}