#member {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #0E061E;
    animation: moveUpDown 2s infinite;
    position: absolute;
    overflow-x: hidden;
    .top{
        position: relative;
        .customerRight{
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 9999;
            top: 42px;
            right: 18px;
        }
        .goOutLeft{
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 9999;
            top: 42px;
            left: 18px;
        }
    }

    .member_bg{
        width: 100%;
        height: 375px;
        background: url("../../assets/vip/bg.png") no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
    }

    @keyframes myanimation {
        0% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(-10px);
        }

        50% {
            transform: translateY(0);
        }

        75% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .title {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        z-index: 99;

        .div_title {
            width: 100%;
            height: 45px;
            display: flex;
            justify-content: space-around;
            padding-top: 20px;


            .title-img {
                width: 30px;
                height: 30px;
            }

            p {
                width: calc(100% - 120px);
                height: 50px;
                text-align: center;
                line-height: 40px;
                // margin-left: (230px/2);
                font-size: 18px;
                font-family: Arial;
                font-weight: bold;
                color: #FFFFFF;
            }

            .title-imgs {
                width: 30px;
                height: 30px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }


    }


    .van-swipe {
        width: 100%;
        height: 200px;
        margin-top: 228px;

        .van_swipe_item_div {
            width: 130px;
            height: 130px;
            margin: 0 auto 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .van-swipe-item-p1 {
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-family: Arial-Bold, Arial;
            font-weight: 700;
            color: #FFFFFF;
            margin-top: 2px;
        }

        .van-swipe-item-p2 {
            width: 100%;
            text-align: center;
            font-size: 14px;
            font-family: Arial-Regular, Arial;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.5);
            line-height: 16px;
            margin-top: 5px;
        }

        /deep/.van-swipe__indicator {
            background: rgba(255, 255, 255, 0.3);
        }
    }

    // 权益
    .equity {
        width: 100%;
        height: 160px;
        border-radius: 25px 25px 0px 0px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        position: relative;

        .vipStop {
            width: 106px;
            height: 168px;
            border-radius: 20px;
            position: relative;
            background: linear-gradient(180deg, #EE33DC 0%, #FC8C66 100%);
            border: 2px solid #FFFFFF;
            margin-top: -15px;

            .vipStop_p5 {
                height: 29px;
                font-size: 14px;
                font-family: Arial-Bold, Arial;
                font-weight: 700;
                color: #fff;
                text-align: center;
                width: 100%;
                border-bottom: solid 1px rgba(255, 255, 255, 0.3);
                line-height: 29px;
            }

            .vipStop_img {
                width: 70px;
                height: 70px;
                margin-left: 50%;
                transform: translateX(-50%);
            }


            .vipStop_p1 {
                font-size: 16px;
                font-family: Arial-Bold, Arial;
                font-weight: 700;
                color: #FFFFFF;
                text-align: center;
                width: 100%;
            }

            .vipShop_div_p4 {
                font-size: 12px;
                font-family: Arial-Regular, Arial;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.7);
                width: 100%;
                text-align: center;
                margin-top: 5px;
            }

            // .vipStop_div {
            //     width: 97px;
            //     height: 90px;
            //     background: #FFFFFF;
            //     border-radius: 15px 15px 15px 15px;
            //     margin: 10px auto 0;
            //     overflow: hidden;


            //     .vipStop_p2 {
            //         font-size: 12px;
            //         font-family: Arial-Bold, Arial;
            //         font-weight: 700;
            //         color: #222;
            //         text-align: center;
            //         width: 100%;
            //     }


            // }

            .vipStop_p4 {
                width: 106px;
                height: 30px;
                background: #FFFFFF;
                border-radius: 25px 25px 25px 25px;
                font-size: 12px;
                font-family: Arial-Bold, Arial;
                font-weight: 700;
                color: #222;
                text-align: center;
                line-height: 28px;
                position: absolute;
                bottom: -10px;
            }

        }

        .vipStopa {
            width: 106px;
            height: 168px;
            background: linear-gradient(180deg, #E8DEFA 0%, #EBEAF1 100%);
            border-radius: 20px;
            position: relative;
            border: 2px solid ;

            .vipStop_p5 {
                height: 29px;
                font-size: 14px;
                font-family: Arial-Bold, Arial;
                font-weight: 700;
                color: #fff;
                text-align: center;
                width: 100%;
                border-bottom: solid 1px rgba(255, 255, 255, 0.3);
                line-height: 29px;
            }

            .vipStop_img {
                width: 70px;
                height: 70px;
                margin-left: 50%;
                transform: translateX(-50%);
            }

            .vipStop_p1 {
                font-size: 16px;
                font-family: Arial-Bold, Arial;
                font-weight: 700;
                color: #FFFFFF;
                text-align: center;
                width: 100%;
            }

            .vipShop_div_p4 {
                font-size: 12px;
                font-family: Arial-Regular, Arial;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.7);
                width: 100%;
                text-align: center;
                margin-top: 5px;
            }

            // .vipStop_div {
            //     width: 97px;
            //     height: 90px;
            //     background: #FFFFFF;
            //     border-radius: 15px 15px 15px 15px;
            //     margin: 10px auto 0;
            //     overflow: hidden;



            //     .vipStop_p2 {
            //         font-size: 12px;
            //         font-family: Arial-Bold, Arial;
            //         font-weight: 700;
            //         color: #222;
            //         text-align: center;
            //         width: 100%;
            //     }


            // }

            .vipStop_p4 {
                width: 106px;
                height: 30px;
                background: #fff;
                border-radius: 25px 25px 25px 25px;
                font-size: 12px;
                font-family: Arial-Bold, Arial;
                font-weight: 700;
                color: #222;
                text-align: center;
                line-height: 28px;
                position: absolute;
                bottom: -10px;
            }

        }

    }

    // 底部按钮
    .button_div {
        width: 280px;
        height: 44px;
        background: url("../../assets/vip/button.png") no-repeat;
        background-size: cover;
        text-align: center;
        color: #fff;
        line-height: 44px;
        font-size: 15px;
        margin-top: 68px;
        // position: absolute;
        // bottom: 32px;
        // left: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 15px;
        font-weight: 400;

        span {
            color: #FFFFFF;
        }
    }

    // 
    .button {
        position: absolute;
        bottom: 129px;
        left: 50%;
        transform: translateX(-50%);

        .button_wallet {
            width: 275px;
            height: 44px;
            background: url('../../assets/vip/button_vip.png') no-repeat;
            background-size: cover;
            font-size: 15px;
            font-family: Arial-Regular, Arial;
            font-weight: 400;
            color: #FFFFFF;
            text-align: center;
            line-height: 44px;
        }

        .button_vip {
            width: 100%;
            height: 17px;
            font-size: 15px;
            font-family: Arial-Regular, Arial;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.5);
            line-height: 17px;
            text-align: center;
            margin-top: 15px;
        }
    }


    /**蒙层*/
    .mengceng {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.30000001192092896);
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}