#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../../img/bg.png') no-repeat #000;
    background-size: contain;

    .app_Product {
        width: calc(100% - .32rem);
        height: .55rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.17rem;
        font-weight: 400;
        color: #FFFFFF;
        margin: .18rem auto 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
        line-height: .55rem;
    }

    .app_Price {
        width: calc(100% - .32rem);
        height: .55rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.17rem;
        font-weight: 400;
        color: #FFFFFF;
        margin: 0 auto 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
        line-height: .55rem;

        .app_Price_two {
            font-size: 0.17rem;
            font-weight: 400;
            color: #FFEA3B;
        }
    }

    .app_Payment {
        width: calc(100% - .32rem);
        height: .55rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.17rem;
        font-weight: 400;
        color: #FFFFFF;
        margin: 0 auto 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
        line-height: .55rem;
    }

    .app_Payment_list {
        width: calc(100% - .32rem);
        height: 4.5rem;
        margin: 0.3rem auto 0;
        overflow-y: auto;
        overflow-x: hidden;

        .app_Payment_list_div {
          
            display: flex;
            justify-content: space-between;
            margin-top: .15rem;

            .app_Payment_list_div_one {
                width: auto;
                height: auto;
                color: #fff;
                display: flex;
                justify-content: flex-start;


                img {
                    width: .5rem;
                    height: .5rem;
                    display: block;
                    border-radius: 50%;
                }

                p {
                    width: auto;
                    line-height: .5rem;
                    margin-left: .12rem;
                    font-size: 0.17rem;
                    font-weight: 400;
                    color: #FFFFFF;
                }
            }

            .app_Payment_list_div_two {
                width: .22rem;
                height: .22rem;
                margin-top: .18rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .app_Payment_list_div:nth-last-child(1){
            margin-bottom: 1rem;
        }


    }

    .app_Confirm {
        width: 100%;
        height: .84rem;
        background: rgba(0,0,0,0);
        position: fixed;
        bottom: 0;

        div {
            width: 3rem;
            height: 0.44rem;
            background: #E0FF55;
            font-size: 0.15rem;
            font-weight: 700;
            color: #222222;
            text-align: center;
            line-height: .44rem;
            margin: 0 auto 0;
            border-radius: 0.2rem;
        }
    }

    
    .loding {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
    }
}