.messageCarrier {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;

    p {
        padding: 0 0;
        margin: 0 0 5px 0;
    }

    .single {
        width: 47%;
        height: auto;
        padding: 10px;
        margin: 15px;
        box-shadow: 0 0 4px #ccc;
        border-radius: 2px;

        .operationDetails {
            width: 100px;
            height: 40px;
            border-radius: 10px;
            border: solid 1px #ccc;
            text-align: center;
            line-height: 40px;
            margin-left: calc(100% - 110px);
            cursor: pointer; // 手指
        }

        .message-left {
            width: 100%;
            height: auto;
            margin-top: 25px;

            .message-left-name {
                font-weight: 600;

                img {
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }

            .message-left-time {
                padding: 0;
                margin: 0 0 5px 0;

                span:nth-child(1) {
                    color: #7F7F7F;
                    font-size: 12px;

                }

                span:nth-child(2) {
                    img {
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }

            .message-left-test{
                width: 100%;
                height: auto;
                overflow-x: hidden;
            }

            video{
                width: 50px;
                height: 50px;
            }
        }

        .message-right {
            width: 100%;
            height: auto;
            text-align: right;
            margin-top: 30px;

            .message-right-name {
                font-weight: 600;

                .el-icon-s-home {
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }

            .message-right-time {

                span:nth-child(2) {
                    color: #7F7F7F;
                    font-size: 12px;
                }

                span:nth-child(1) {
                    img {
                        width: 20px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }

            .message-right-test{
                width: 100%;
                height: auto;
                overflow-x: hidden;
            }
        }
    }

    .no-more{
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 20px;
        color: #f18484;
    }

    .loading{
        width: 100%;
        height: 30px;
        text-align: center;
        font-size: 35px;
        color: #409eff;
        position: absolute;
        bottom: 60px;
    }
}